body {
	color: #333;
}

.row.outter-row {
	max-width: 100%;
}

.team-list {
	list-style-type: none;
}

.roster li {
	position: relative;
	list-style-type: none;
	width: 200px;
	max-width: 200px;
	min-height: 250px;
	float: left;
	margin: 10px;
}

.roster img {
	width: 200px;
	height: 161px;
}
.player-number {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 50px;
}

.player-name {
	font-size: 25px;
	display: block;
	text-align: left;
	margin-left: 0px;
	border-top: 3px solid #333;
	white-space: nowrap;
}

.team-list li {
	padding: 10px 0;
}

/* button active state stole from foundation */
button.active {
	background-color: #2ba6cb;
	border-color: #2284a1;
	color: #fff;
}

button.active:hover {
	background-color: #2284a1;
	color: #fff;
}